

.component-fade-enter-active, .component-fade-leave-active {
    transition: all .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(30px);
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .reports-list-item{
  white-space: nowrap;
  overflow-x: hidden;
  width: 35rem;
  text-overflow: ellipsis
  }